{% extends "base.html.twig" %}

{% block title %}AchatRevente - Modifier votre annonce
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mt-4">Modification d'une annonce</h1>

		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.title) }}
			{{ form_widget(form.title) }}
			<div class="form-error">
				{{ form_errors(form.title) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
			<div class="form-error">
				{{ form_errors(form.description) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.price) }}
			{{ form_widget(form.price) }}
			<div class="form-error">
				{{ form_errors(form.price) }}
			</div>
		</div>
			<div class="form-group mt-4">
			{{ form_widget(form.isPublic) }}
			{{ form_label(form.isPublic) }}
			<div class="form-error">
				{{ form_errors(form.isPublic) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.postCode) }}
			{{ form_widget(form.postCode) }}
			<div class="form-error">
				{{ form_errors(form.postCode) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.city) }}
			{{ form_widget(form.city) }}
			<div class="form-error">
				{{ form_errors(form.city) }}
			</div>
		</div>

		 {% if app.request.attributes.get('_route') == 'app_ad.edit' %}
        <h2>Images</h2>
        {% for image in article.images %}
            <div>
				<img src="{{ asset('uploads/images300/' ~ image.name) }}" alt="{{image.name}}" class="mt-4" width="150">
                 <a href="{{ path('app_ad.delete_image', {id: image.id}) }}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}

		{{ form_end(form) }}
	</div>

	<script>
	
	window.onload = () => {
    let categorieSelect = document.querySelector("#article_categorie");
    let subCategorieSelect = document.querySelector("#article_subCategorie");
    let makeCarSelect = document.querySelector("#article_makeCar");
    let modelCarSelect = document.querySelector("#article_modelCar");

    const appendOptions = (data, selectElement, placeholderName) => {
        // Clear current options
        selectElement.innerHTML = "";

        // Add placeholder option
        let optPlaceholder = document.createElement('option');
        optPlaceholder.value = "";
        optPlaceholder.innerHTML = `Choisir ${placeholderName}...`;
        selectElement.appendChild(optPlaceholder);

        // Add new options
        data.forEach(item => {
            let opt = document.createElement('option');
            opt.value = item.id;
            opt.innerHTML = item.name;
            selectElement.appendChild(opt);
        });
    };

    const handleError = (error) => {
        console.error("An error occurred:", error);
    };

    categorieSelect.addEventListener("change", function() {
        let selectedOption = this.options[this.selectedIndex].text;
        fetch(`/get-subCategories/${this.value}`)
            .then(response => response.json())
            .then(data => appendOptions(data, subCategorieSelect, selectedOption))
            .catch(handleError);
    });

    subCategorieSelect.addEventListener("change", function() {
        let selectedOption = this.options[this.selectedIndex].text;
        fetch(`/get-make-cars/${this.value}`)
            .then(response => response.json())
            .then(data => appendOptions(data, makeCarSelect, selectedOption))
            .catch(handleError);
    });

	makeCarSelect.addEventListener("change", function() {
    let selectedOption = this.options[this.selectedIndex].text;
    fetch(`/get-model-cars/${this.value}`)
        .then(response => response.json())
        .then(data => appendOptions(data, modelCarSelect, selectedOption))
        .catch(handleError);
});
	
}
	</script>
{% endblock %}
