{% extends "base.html.twig" %}

{% block title %}AchatRevente - Nouvelle annonce
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mt-4">Création d'une annonce</h1>

		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.title) }}
			{{ form_widget(form.title) }}
			<div class="form-error">
				{{ form_errors(form.title) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
			<div class="form-error">
				{{ form_errors(form.description) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.price) }}
			{{ form_widget(form.price) }}
			<div class="form-error">
				{{ form_errors(form.price) }}
			</div>
		</div>
			<div class="form-group mt-4">
			{{ form_widget(form.isPublic) }}
			{{ form_label(form.isPublic) }}
			<div class="form-error">
				{{ form_errors(form.isPublic) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.postCode) }}
			{{ form_widget(form.postCode) }}
			<div class="form-error">
				{{ form_errors(form.postCode) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.city) }}
			{{ form_widget(form.city) }}
			<div class="form-error">
				{{ form_errors(form.city) }}
			</div>
		</div>

		<div class="form-group" style="margin-bottom:10px;">
			<h2>Ajouter des images</h2>
			{{ form_label(form.images) }}
			{{ form_widget(form.images, {'attr': {'class': 'image-collection', 'data-index': form.images|length}}) }}
			<div class="form-error">
				{{ form_errors(form.images) }}
			</div>
		</div>

		{{ form_end(form) }}
	</div>



	<script>
 document.addEventListener('DOMContentLoaded', function() {
    var addButton = document.createElement('button');
    addButton.innerHTML = 'Ajouter une image';
    addButton.type = 'button';
    addButton.classList.add('btn', 'btn-primary', 'mt-2');

    addButton.addEventListener('click', function() {
        var collectionHolder = document.getElementsByClassName('image-collection')[0];
        var prototype = collectionHolder.getAttribute('data-prototype');
        if (prototype !== null) {
            var index = collectionHolder.dataset.index;
            if (index < 6) {
                var newForm = prototype.replace(/__name__/g, index);
                collectionHolder.dataset.index = parseInt(index) + 1;
                collectionHolder.insertAdjacentHTML('beforeend', newForm);

                if (collectionHolder.dataset.index >= 6) {
                    addButton.disabled = true;
                }
            }
        }
    });

    var imageCollection = document.getElementsByClassName('image-collection')[0];
    if (imageCollection !== undefined) {
        imageCollection.insertAdjacentElement('afterend', addButton);
    }
});

</script>
{% endblock %}
