{% extends "base.html.twig" %}

{% block title %}AchatRevente - Nouvelle annonce
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mt-4">Création d'une annonce</h1>

		{{ form_start(form) }}

		<div class="form-group">
			{{ form_label(form.title) }}
			{{ form_widget(form.title) }}
			<div class="form-error">
				{{ form_errors(form.title) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.description) }}
			{{ form_widget(form.description) }}
			<div class="form-error">
				{{ form_errors(form.description) }}
			</div>
		</div>

		<div class="form-group">
			{{ form_label(form.price) }}
			{{ form_widget(form.price) }}
			<div class="form-error">
				{{ form_errors(form.price) }}
			</div>
		</div>
			<div class="form-group mt-4">
			{{ form_widget(form.isPublic) }}
			{{ form_label(form.isPublic) }}
			<div class="form-error">
				{{ form_errors(form.isPublic) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.postCode) }}
			{{ form_widget(form.postCode) }}
			<div class="form-error">
				{{ form_errors(form.postCode) }}
			</div>
		</div>

        <div class="form-group">
			{{ form_label(form.city) }}
			{{ form_widget(form.city) }}
			<div class="form-error">
				{{ form_errors(form.city) }}
			</div>
		</div>

		<div class="form-group" style="margin-bottom:10px;">
			<h2>Ajouter des images</h2>
			<h4>ctrl + click gauche souris pour séléctioner plusieurs photo</h4>
			{{ form_label(form.images) }}
			{{ form_widget(form.images, {'attr': {'class': 'image-collection', 'data-index': form.images|length}}) }}
			<div class="form-error">
				{{ form_errors(form.images) }}
			</div>
		</div>
        
          <div class="form-group">
			{{ form_label(form.categorie) }}
			{{ form_widget(form.categorie) }}
			<div class="form-error">
				{{ form_errors(form.categorie) }}
			</div>
		</div>

          <div class="form-group">
			{{ form_label(form.subCategorie) }}
			{{ form_widget(form.subCategorie) }}
			<div class="form-error">
				{{ form_errors(form.subCategorie) }}
			</div>
		</div> 
<div id="voituresDiv" style="display:none;">
    {{ form_label(form.voitures) }}
    {{ form_widget(form.voitures) }}
</div>


<div id="consoleAndGamesDiv" style="display:none;">
    {{ form_label(form.consoleAndGames) }}
    {{ form_widget(form.consoleAndGames) }}
</div>

		{# <div class="form-group vehicle-section" style="display:none;">
    {{ form_label(form.makeCar) }}
    {{ form_widget(form.makeCar) }}
    <div class="form-error">
        {{ form_errors(form.makeCar) }}
    </div>
</div>

<div class="form-group vehicle-section" style="display:none;">
    {{ form_label(form.modelCar) }}
    {{ form_widget(form.modelCar) }}
    <div class="form-error">
        {{ form_errors(form.modelCar) }}
    </div>
</div> #}

		{# Add these checks before accessing the fields #}
{# {% if form.makeCar is defined %}
<div class="form-group vehicle-section" style="display:none;">
    {{ form_label(form.makeCar) }}
    {{ form_widget(form.makeCar) }}
    <div class="form-error">
        {{ form_errors(form.makeCar) }}
    </div>
</div>
{% endif %}

{% if form.modelCar is defined %}
<div class="form-group vehicle-section" style="display:none;">
    {{ form_label(form.modelCar) }}
    {{ form_widget(form.modelCar) }}
    <div class="form-error">
        {{ form_errors(form.modelCar) }}
    </div>
</div>
{% endif %} #}


		{{ form_end(form) }}
	</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	 <script>



window.onload = () => {
    let categorieSelect = document.querySelector("#article_categorie");
    let subCategorieSelect = document.querySelector("#article_subCategorie");

    const appendOptions = (data, selectElement, placeholderName) => {
        // Clear current options
        selectElement.innerHTML = "";

        // Add placeholder option
        let optPlaceholder = document.createElement('option');
        optPlaceholder.value = "";
        optPlaceholder.innerHTML = `Choisir ${placeholderName}...`;
        selectElement.appendChild(optPlaceholder);

        // Add new options
        data.forEach(item => {
            let opt = document.createElement('option');
            opt.value = item.id;
            opt.innerHTML = item.name;
            selectElement.appendChild(opt);
        });
    };

    const handleError = (error) => {
        console.error("An error occurred:", error);
    };

    categorieSelect.addEventListener("change", function() {
        let selectedOption = this.options[this.selectedIndex].text;
        fetch(`/get-subCategories/${this.value}`)
            .then(response => response.json())
            .then(data => appendOptions(data, subCategorieSelect, selectedOption))
            .catch(handleError);
    });
}



    $('#article_subCategorie').on('change', function() {
    const selectedSubCategory = $(this).val(); 
    console.log("La sous-catégorie a changé à: " + selectedSubCategory);

    if (selectedSubCategory === '1') {  // "Voitures"
     $('#voituresDiv').css("display", "block"); 
        $('#article_consoleAndGames :input').removeAttr('required');
        $('#article_voitures :input').attr('required', 'required');
    } else {
          $('#voituresDiv').css("display", "none"); 
        $('#article_voitures :input').removeAttr('required');
        $('#article_consoleAndGames :input').attr('required', 'required');
    }

    if (selectedSubCategory === '4') {  // "ConsoleAndGames"
     $('#consoleAndGamesDiv').css("display", "block"); 
        $('#article_voitures :input').removeAttr('required');
        $('#article_consoleAndGames :input').attr('required', 'required');
    } else {
         $('#consoleAndGamesDiv').css("display", "none"); 
        $('#article_consoleAndGames :input').removeAttr('required');
        $('#article_voitures :input').attr('required', 'required');
    }

    });
    </script>

{% endblock %}
