{% extends "base.html.twig" %}

{% block title %}
	AchatRevente
	{{ article.title }}
{% endblock %}

{% block body %}  
<div class="container">
    <h1 class="mt-4">{{ article.title }}</h1>
    <h1 class="mt-4">{{ article.subCategorie.name }}</h1>
    <h1 class="mt-4">{{ article.categorie.name }}</h1> 
    <div> 
        <span class="badge bg-primary mb-4">Créée le {{ article.createdAt|date('d/m/Y') }}</span>
    </div>

    <!-- Include Fancybox CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />

    <div> 
    <p>Nombre d'images : {{ article.images|length }}</p>
        <div class="image-gallery">
            {% for image in article.images|slice(0, 3) %}
                <a href="{{ asset('uploads/images300/' ~ image.name) }}" data-fancybox="gallery"><img class="m-4 p-4" src="{{ asset('uploads/images300/mini/300x300-' ~ image.name) | imagine_filter('thumbnail') }}" /></a>
            {% endfor %}
            
            <div id="moreImages" style="display: none;">
                {% for image in article.images|slice(3) %}
                    <a href="{{ asset('uploads/images300/' ~ image.name) }}" data-fancybox="gallery"><img src="{{ asset('uploads/images300/mini/300x300-' ~ image.name) | imagine_filter('thumbnail') }}" /></a>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="mt-4 ">
        {% if article.price %}
            <p>prix : {{ article.price }} €</p>
        {% else %}
            <p>Prix non renseigné</p>
        {% endif %}
    </div>
    <div>
        <div>
            <hr>
            <div> 
                <p class="mx-4"> {{ article.price }} €</p>
            </div>
            <div>
                <p>{{article.city}}</p>
            </div>
            <div class="d-flex">
                <div class="mx-4 border mb-4 p-4">
                    <p class="">Numéro de l'annonce : </p>
                    <p>{{article.id}} </p>
                </div>
                 <div class="mx-4 border mb-4 p-4">
                    <p class="">Marque : </p>
                    <p>{{article.voitures.makeOfCar}} </p>
                </div>
                 <div class="mx-4 border mb-4 p-4">
                    <p class="">Model : </p>
                    <p>{{article.voitures.carModel}} </p>
                </div>
                <div class="mx-4 border mb-4 p-4">
                    <p class="">Type de véhicule : </p>
                    <p>{{article.voitures.vehicleType}} </p>
                </div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="mx-4 border mb-4 p-4">
                    <p class="">Puissance : </p>
                    <p>{{article.voitures.fiscalPower}} cv</p>
                </div>
                 <div class="mx-4 border mb-4 p-4">
                    <p class="">Permis de conduire: </p>
                    <p>{{article.voitures.driverLicense}} </p>
                </div>
                 <div class="mx-4 border mb-4 p-4">
                    <p class="">Boite de vitesse : </p>
                    <p>{{article.voitures.gearbox}} </p>
                </div>
                <div class="mx-4 border mb-4 p-4">
                    <p class="">Type de véhicule : </p>
                    <p>{{article.voitures.vehicleType}} </p>
                </div>
            </div>
            <hr>
            <div class="d-flex">
                <div class="mx-4 border mb-4 p-4">
                    <p class="">Nombre de place : </p>
                    <p>{{article.voitures.numberOfPlaces}}</p>
                </div>
                 <div class="mx-4 border mb-4 p-4">
                    <p class="">Nombre de siége: </p>
                    <p>{{article.voitures.numberOfSeats}} </p>
                </div>
                 <div class="mx-4 border mb-4 p-4">
                    <p class="">Couleur : </p>
                    <p>{{article.voitures.color}} </p>
                </div>
            </div>
        </div>    
        <div>
            <h2>Description</h2>
            <div class="mt-4 border mb-4 pb-4 pt-4 px-4">
                {{ article.description|raw }}
            </div>
        </div> 
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function() {
            var showMoreImagesButton = $('#showMoreImages');
            
            showMoreImagesButton.click(function() {
                $('#moreImages').find('a').fancybox();
                showMoreImagesButton.hide();
            });
        });
    </script>
</div>
{% endblock %}
