{% extends 'base.html.twig' %}

{% block title %}
	AchatRevente
{% endblock %}

{% block body %}

    {# Parcourez et affichez vos articles #}
    <ul>
    <div class="section">
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="row shop_container">
                {% if not pagination.getTotalItemCount() %}
                    <p>Désolé, aucun produit ne correspond au résultat de votre recherche</p>
                {% endif %}
                {% for article in pagination %}
                    {# Affichez les détails de chaque article ici #}
                    {{ article.title }}
                    {{ article.price }}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0">
            <div class="sidebar">
                {{ form_start(search) }}
                <div class="widget">
                    <h5 class="widget_title">Categories</h5>
                    {{ form_row(search.categories) }}
                </div>
                <div class="widget">
                    <h5 class="widget_title text-center">Prix</h5>
                    <div class="form-row d-flex">
                        <div class="col-md-6 mx-2">
                            {{ form_row(search.minPrice) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(search.maxPrice) }}
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <h5 class="widget_title text-center">Kilométrage</h5>
                    <div class="form-row d-flex">
                        <div class="col-md-6 mx-2">
                            {{ form_row(search.minMileage) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(search.maxMileage) }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-border-fill btn-block">Search</button>
                {{ form_end(search) }}
            </div>
        </div>
    </div>
</div>

{# Affichez la pagination #}
<div class="pagination">
    {{ knp_pagination_render(pagination) }}
</div>





        {% for article in articles %}
            <li>
                {{ article.title }}
                {{ article.price }} {# Remplacez 'title' par le champ approprié de votre entité Article #}
                {# Vous pouvez ajouter d'autres champs de l'article comme vous le souhaitez #}
            </li>
        {% endfor %}
    </ul>


{% endblock %}
